<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js" integrity="sha512-MNW6IbpNuZZ2VH9ngFhzh6cUt8L/0rSVa60F8L22K1H72ro4Ki3M/816eSDLnhICu7vwH/+/yb8oB3BtBLhMsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <a href="http://127.0.0.1:8000/materials_list"><b><u>Список материалов</u></b></a>
    <br>
    <a href="http://127.0.0.1:8000/create_material/"><u>Добавить новый материал</u></a>
    <br>
    <a href="http://127.0.0.1:8000/update_material/"><u>Изменить существующий материал</u></a>
    <br>
    <a href="http://127.0.0.1:8000/delete_material/"><u>Удалить материал</u></a>
    <br><br>
    <a href="http://127.0.0.1:8000/feedstock_list"><b><u>Список сырья</u></b></a>
    <br>
</body>
</html>